@import models._
@import services.Util
@(lstSubMenu: Seq[Sub_Menu])
<ul>
    @for(subMenu <- lstSubMenu) {
        <li><a href="/group/@Util.removeAccent(subMenu.subName)/">@subMenu.subName</a></li>
    }
</ul>

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
