@(a: Int,b:String)
<div class="wrapper">
    <h1>@a</h1>
    <section class="hoc center clear">
            <!-- ################################################################################################ -->
        @*<p class="font-xs"><a href="#">Sollicitudin neque mauris ut</a></p>*@
        <h3 class="btmspace-10">Tìm chúng tôi tại đây</h3>
        @*<p class="nospace">Sed at augue consectetur ultricies elit semper facilisis quam aliquam</p>*@
            <!-- ################################################################################################ -->
    </section>
    <div class="gmap clear">
            <!-- ################################################################################################ -->
        <div id="gmapcanvas"><!-- Leave Empty --></div>
            <!-- ################################################################################################ -->
    </div>
</div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
        <div class="two_quarter first">
            <h4 class="title">Liên Hệ</h4>

            <address class="btmspace-30" style="font-size: 16px;
                color: #eeeeee;">
                Địa chỉ: 141 Tôn Thât Thuyết, Quận 4, Thành phố Hồ Chí Minh
            </address>
            <ul class="nospace">
                <li class="btmspace-10" style="font-size: 30px;
                    color: #eeeeee;"><i class="fa fa-phone"></i> 01283742926</li>
            </ul>
        </div>
        <div class="two_quarter">
            <h6 class="title">Dịch vụ</h6>
            <article>
            </article>
        </div>
    </footer>
</div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
        <p class="fl_left" >Copyright &copy; 2017 - Nhukomtranhtuong - <a href="#">Nhu kom</a></p>
            <!-- ################################################################################################ -->
    </div>
</div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>